
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    height: 375px;
    color: white;
    padding: 3px 14px;
    background-color: #1F2937;
   
}

h1 {
    width:fit-content;
    margin: 0;
}
header > p {
    color: rgb(190, 210, 229);
}

img {
    width: 35%;
    height: auto;
}

.main-image {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width:fit-content;
}
.menu {
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}

.signup {
    display: flex;
    flex-direction: column;
    flex:1;
    width: fit-content;
    justify-content: center;

}

.button {
    background-color: aqua;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
 }

 .links {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    
}

.main-content {
    display: flex;
    flex: 1;
}

.footer {
    color: white;
    background-color: #1F2937;
    height: 24px;
    padding: 14px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}