
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    height: 200px;
    color: white;
    padding: 3px 14px;
    background-color: #1F2937;
   
}

.menu {
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    
}

.main-content {
    display: flex;
    flex: 1;
}

.footer {
    color: white;
    background-color: #1F2937;
    height: 24px;
    padding: 14px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}